<app-navbar></app-navbar>
<div class=" containers p-4 shadow-lg mt-5  wrapper bg-white rounded-3">
  <div class="container">
    <div class="d-flex justify-content-end mt-3">
     
      <button class="btn btn-primary me-2" (click)="openModal()">Add</button>
      <button class="btn btn-success" (click)="generateReport()">Generate Report</button>
    </div>
  
    <div class="table-responsive mt-4">
      <table class="table">
        <thead>
          <tr>
            <th>Date</th>
            <th>Vendor Company Name</th>
            <th>Vendor MailId</th>
            <th>Vendor Phone number</th>
            <th>Implementation</th>
            <th>Client</th>
            <th>Interview Round</th>
            <th>Mode of Interview</th>
            <th>Duration</th>
            <th>Status</th>
            
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let row of sheetData; let i = index">
            <td>{{ row.date }}</td>
           
            <td>{{ row.vendorCompanyName }}</td>
            <td>{{ row.vendorMailId }}</td>
            <td>{{ row.vendorPhoneNumber }}</td>
            <td>{{ row.implementation }}</td>
            <td>{{ row.client }}</td>
           
            <td>{{ row.interviewRound }}</td>
            
            <td>
              <select class="form-select" [(ngModel)]="row.modeOfInterview" name="modeOfInterview" required>
                <option value="MS">Microsoft Teams</option>
                <option value="Zoom">Zoom</option>
                <option value="GM">Google Meet</option>

              </select>
            </td>
            <td>{{ row.duration }}</td>
            <td>{{ row.status }}</td>
           
          </tr>
        </tbody>
      </table>
    </div>
  
    <div class="modal" tabindex="-1" role="dialog" [ngClass]="{ 'show': showModal }">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title">Add Interview Details</h5>
            <button type="button" class="btn-close" (click)="closeModal()"></button>
        
          </div>
          <div class="modal-body">
            <form (ngSubmit)="submitRow()">
              <div class="mb-3">
                <label for="date">Date</label>
                <input type="date" class="form-control" id="date" [(ngModel)]="newRow.date" name="date" required>
              </div>
            
              <div class="mb-3">
                <label for="vendorCompanyName">Vendor Company Name</label>
                <input type="text" class="form-control" id="vendorCompanyName" [(ngModel)]="newRow.vendorCompanyName" name="vendorCompanyName" required>
              </div>
              <div class="mb-3">
                <label for="vendorMailId">Vendor MailId</label>
                <input type="email" class="form-control" id="vendorMailId" [(ngModel)]="newRow.vendorMailId" name="vendorMailId" required>
              </div>
              <div class="mb-3">
                <label for="vendorPhoneNumber">Vendor Phone number</label>
                <input type="text" class="form-control" id="vendorPhoneNumber" [(ngModel)]="newRow.vendorPhoneNumber" name="vendorPhoneNumber" required>
              </div>
              <div class="mb-3">
                <label for="implementation">Implementation</label>
                <input type="text" class="form-control" id="implementation" [(ngModel)]="newRow.implementation" name="implementation" required>
              </div>
              <div class="mb-3">
                <label for="client">Client</label>
                <input type="text" class="form-control" id="client" [(ngModel)]="newRow.client" name="client" required>
              </div>
              
              <div class="mb-3">
                <label for="client">Interview Round</label>
                <input type="text" class="form-control" id="client" [(ngModel)]="newRow.interviewRound" name="client" required>
              </div>
              <div class="mb-3">
                <label for="modeOfInterview">Mode Of Interview</label>
                <select class="form-control" id="modeOfInterview" [(ngModel)]="newRow.modeOfInterview" name="submitted" required>
                  <option value="MS">Microsoft Teams</option>
                <option value="Zoom">Zoom</option>
                <option value="GM">Google Meet</option>

                </select>
              </div>
              <div class="mb-3">
                <label for="client">Duration</label>
                <input type="text" class="form-control" id="client" [(ngModel)]="newRow.duration" name="client" required>
              </div>
             
              <div class="mb-3">
                <label for="status">Status</label>
                <input type="text" class="form-control" id="status" [(ngModel)]="newRow.status" name="status" required>
              </div>
              <button type="submit" class="btn btn-primary">Submit</button>
            </form>
            
          </div>
        </div>
      </div>
    </div>
  </div>
</div> 
